
<div class="footerW">

  <div class="footer">
    <div class="d-flex justify-content-between items">
      <div style="cursor: pointer;"><a (click)="scrollTo('about')">عنا</a></div>
      <div style="cursor: pointer;"><a (click)="scrollTo('works')">اعمالنا</a></div>
      <div style="cursor: pointer;"><a (click)="scrollTo('equipment')">المعدات</a></div>
    </div>

  </div>
  <hr style="border: solid 1px orange;">
<div style="text-align: center;  color: white;">جميع الحقوق &#169; محفوظة لشركة لؤلؤة الشروق</div>
<div style="text-align: center;"><a href="https://www.linkedin.com/in/osama-ibrahim-sadek/" target="_blank"
  style="text-decoration: none; font-size: 16px;"
  >Developed by Eng:Osama Ibrahim</a></div>
</div>

