<div class="footerW">
  <div class="footer">
    <div class="d-flex justify-content-between items">
      <div>الرئيسية</div>
      <div>الرئيسية</div>
      <div>الرئيسية</div>
      <div>الرئيسية</div>
      <div>الرئيسية</div>
    </div>
  </div>
</div>

<hr style="border: solid 1px orange;">

<div class="row">
  <div class="col-1 text-center" style="margin-right: 30px; color: orange;">
    <span
      style="border: 2px solid orange;padding: 15px; border-radius: 50%; cursor: pointer;"
      (click)="scrollToTop()"
    >
      <i class="fa fa-chevron-up" style="font-size: 30px;"></i>
    </span>
  </div>
  <div class="col-10 text-center text-light">
    Osama
  </div>
</div>
<br />
<br />
