

.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

a {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Monadi';
  color: white;
}
