
<div class="footerW">

  <div class="footer">
    <div class="d-flex justify-content-between items">
      <div style="cursor: pointer;"><a (click)="scrollTo('about')">عنا</a></div>
      <div style="cursor: pointer;"><a (click)="scrollTo('works')">اعمالنا</a></div>
      <div style="cursor: pointer;"><a (click)="scrollTo('equipment')">المعدات</a></div>
    </div>

  </div>
  <hr style="border: solid 1px orange;">
<div style="text-align: center;  color: #080808;">جميع الحقوق &#169; محفوظة لشركة لؤلؤة الشروق</div>
<div style="text-align: end;position: relative;  color: #080808;">

  <table style="margin: 0 auto; text-align: end;">
    <th>Developed by Eng</th>
    <tr><td>
      <a href="https://wa.me/+201147239318" target="_blank" style="margin:0 5px"><i class="fa fa-whatsapp" style="font-size: 20px; padding: 3px 5px;"></i></a>
      <a href="https://www.linkedin.com/in/osama-ibrahim-sadek/" target="_blank" style="margin:0 10px"><i class="fa fa-linkedin" style="font-size: 20px; color: white; padding: 3px 5px; background-color: blue;"></i></a>
  <a href="https://github.com/OsamaIbrahim2001" target="_blank"
    style="text-decoration: none; font-size: 16px;"
    >Osama Ibrahim</a>
    </td>
    </tr>
    <tr style="position: absolute; bottom: -30px;">
    <td>
      <a href="https://wa.me/+201155117828" style="margin:0 5px"><i class="fa fa-whatsapp" style="font-size: 20px; padding: 3px 5px;"></i></a>
      <a href="https://www.linkedin.com/in/youssef-taha-a28088256" target="_blank" style="margin:0 10px"><i class="fa fa-linkedin" style="font-size: 20px;color: white; padding: 3px 5px; background-color: blue;"></i></a>
      <a
    style="text-decoration: none; font-size: 16px;"
    >Youssef Taha</a>
    </td>
    </tr>
  </table>
</div>
</div>

