<br>
<div class="h2">مشاريعنا</div>
<br>
<div class="container">
<div class="card" *ngFor="let item of projects">
  <img class="card-img-top" (mouseleave)="resetImage(0)" (mouseover)="changeImage(0)" src="../../../../assets/Images/1.jpg" alt="Card image cap">

  <div class="card-body">
    <div class="card-title">{{ item.title }}</div>
    <div class="card-footer">
      <div class="text"><p class="card-text">{{ item.description }}</p></div>
      <div class="links">
        <img src="../../../../assets/Images/whats.png"  alt="">
        <img src="../../../../assets/Images/face.png"  alt="">
      </div>
    </div>
  </div>
</div>
</div>
  <div class="mt-8 py-5 flex justify-content items-center" style="text-align: center;">
    <div>
      <button class="btn btn-dark" (click)="previousPage()" style="color: orange; margin-left: 10px; font-weight: bold;"
        [disabled]="pageNumber===1">
        <i class="fa fa-forward"></i></button>

      <button class="btnNumber rounded-pill" (click)="setPage(index)" *ngFor="let index of buttonArray"
        [style.color]="index === pageNumber ? 'white' : 'orange'"
        [style.background-color]="index === pageNumber ? '#d8832c' : 'initial'">{{index}}</button>

      <button class="btn btn-dark" (click)="nextPage()" style="color: orange; margin-right: 10px; font-weight: bold;"
        [disabled]="pageNumber * pageSize >= totalCount">
        <i class="fa fa-backward"></i></button>
    </div>

  </div>
