<br>
<div class="h2">مشاريعنا</div>
<br>
<div class="container">
  <div class="card" *ngFor="let item of projects let i=index">
    <a (click)="detail(item.id)" style="text-decoration: none;cursor: pointer;">
      <div *ngIf="item.coverImage!=''" class="card-image" (touchstart)="changeImage(i)"  (mouseenter)="changeImage(i)" (mouseout)="resetImage(i)">
        <img [src]="'https://api.luluatalshuruk.com/Images/'+item.coverImage" alt="Card Image" >
      </div>
      <div class="card-body">

        <div class="text">
          <div class="card-title">{{ item.name }}</div>
          <p class="card-text">{{ desc[i] }}</p>
        </div>
      </div>
    </a>
  </div>
  </div>
<br>
  <div class="mt-8 py-5 flex justify-content items-center" style="text-align: center;">
    <div>
      <button class="btnPrev" (click)="previousPage()"
      [class.disabled]="pageNumber === 1">
      <img src="../../../../assets/Images/forward-solid.svg" width="100%" alt=""></button>

      <button class="btnNumber" (click)="setPage(index)" *ngFor="let index of buttonArray"
        [style.color]="index === pageNumber ? 'white' : '#080808'"
        [style.background-color]="index === pageNumber ? '#797474' : 'initial'">{{index}}</button>

      <button class="btnNext" (click)="nextPage()"
        [class.disabled]="pageNumber * pageSize >= totalCount">
        <img src="../../../../assets/Images/backward-solid.svg" width="100%" alt=""></button>
    </div>

  </div>
<br>
