<div class="container">
  <div class="h1" style="color: orange; font-weight: bolder;">مشاريعنا</div>
  <br>
  <div class="card mb-3 me-2" style=" display: inline-flex;">
    <!-- <a href="unit/det/{{unit.id}}"> -->
      <img class="card-img-top" (mouseleave)="resetImage(1)" (mouseover)="changeImage(1)" height="200px" src="../../../../assets/Images/2.jpg" alt="Card image cap">

    <!-- </a> -->

    <div class="card-body" style="background-color: black;">
      <div style="color: orange; font-size: 21px;">تطوير مركز فيرجينيا جامعة الاسكندرية</div>
      <p style="color: white;">تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية</p>
    <div>
      <i class="fa fa-facebook" style="color: orange;"></i>
      <i class="fa fa-whatsapp" style="color: orange;"></i>
    </div>
    </div>


  </div>
  <div class="card mb-3 me-2 " style=" display: inline-flex;">
    <!-- <a href="unit/det/{{unit.id}}"> -->
      <img class="card-img-top" (mouseleave)="resetImage(1)" (mouseover)="changeImage(1)" height="200px" src="../../../../assets/Images/2.jpg" alt="Card image cap">

    <!-- </a> -->

    <div class="card-body" style="background-color: black;">
      <div style="color: orange; font-size: 21px;">تطوير مركز فيرجينيا جامعة الاسكندرية</div>
      <p style="color: white;">تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية</p>
    <div>
      <i class="fa fa-facebook" style="color: orange;"></i>
      <i class="fa fa-whatsapp" style="color: orange;"></i>
    </div>
    </div>


  </div>
  <div class="card mb-3 me-2" style=" display: inline-flex;">
    <!-- <a href="unit/det/{{unit.id}}"> -->
      <img class="card-img-top" (mouseleave)="resetImage(1)" (mouseover)="changeImage(1)" height="200px" src="../../../../assets/Images/2.jpg" alt="Card image cap">

    <!-- </a> -->

    <div class="card-body" style="background-color: black;">
      <div style="color: orange; font-size: 21px;">تطوير مركز فيرجينيا جامعة الاسكندرية</div>
      <p style="color: white;">تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية</p>
    <div>
      <i class="fa fa-facebook" style="color: orange;"></i>
      <i class="fa fa-whatsapp" style="color: orange;"></i>
    </div>
    </div>


  </div>  <div class="card mb-3 me-2 col-4" style=" display: inline-flex;">
    <!-- <a href="unit/det/{{unit.id}}"> -->
      <img class="card-img-top" (mouseleave)="resetImage(1)" (mouseover)="changeImage(1)" height="200px" src="../../../../assets/Images/2.jpg" alt="Card image cap">

    <!-- </a> -->

    <div class="card-body" style="background-color: black;">
      <div style="color: orange; font-size: 21px;">تطوير مركز فيرجينيا جامعة الاسكندرية</div>
      <p style="color: white;">تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية</p>
    <div>
      <i class="fa fa-facebook" style="color: orange;"></i>
      <i class="fa fa-whatsapp" style="color: orange;"></i>
    </div>
    </div>


  </div>  <div class="card mb-3 me-2 col-4" style=" display: inline-flex;">
    <!-- <a href="unit/det/{{unit.id}}"> -->
      <img class="card-img-top" (mouseleave)="resetImage(1)" (mouseover)="changeImage(1)" height="200px" src="../../../../assets/Images/2.jpg" alt="Card image cap">

    <!-- </a> -->

    <div class="card-body" style="background-color: black;">
      <div style="color: orange; font-size: 21px;">تطوير مركز فيرجينيا جامعة الاسكندرية</div>
      <p style="color: white;">تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية</p>
    <div>
      <i class="fa fa-facebook" style="color: orange;"></i>
      <i class="fa fa-whatsapp" style="color: orange;"></i>
    </div>
    </div>


  </div>  <div class="card mb-3 me-2 col-4" style=" display: inline-flex;">
    <!-- <a href="unit/det/{{unit.id}}"> -->
      <img class="card-img-top" (mouseleave)="resetImage(1)" (mouseover)="changeImage(1)" height="200px" src="../../../../assets/Images/2.jpg" alt="Card image cap">

    <!-- </a> -->

    <div class="card-body" style="background-color: black;">
      <div style="color: orange; font-size: 21px;">تطوير مركز فيرجينيا جامعة الاسكندرية</div>
      <p style="color: white;">تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية تطوير مركز فيرجينيا جامعة الاسكندرية</p>
    <div>
      <i class="fa fa-facebook" style="color: orange;"></i>
      <i class="fa fa-whatsapp" style="color: orange;"></i>
    </div>
    </div>


  </div>
</div>
  <div class="mt-8 py-5 flex justify-content items-center" style="text-align: center;">
    <div>
      <button class="btn btn-dark" (click)="previousPage()" style="color: orange; margin-left: 10px; font-weight: bold;"
        [class.disabled]="pageNumber===1">
        <i class="fa fa-forward"></i></button>

      <button class="btnNumber rounded-pill" (click)="setPage(index)" *ngFor="let index of buttonArray"
        [style.color]="index === pageNumber ? 'white' : 'orange'"
        [style.background-color]="index === pageNumber ? '#d8832c' : 'initial'">{{index}}</button>

      <button class="btn btn-dark" (click)="nextPage()" style="color: orange; margin-right: 10px; font-weight: bold;"
        [disabled]="pageNumber * pageSize >= totalCount">
        <i class="fa fa-backward"></i></button>

    </div>

  </div>
