
<!-- <div style="background-color: black;"> -->
<!-- <div #slider> -->
  <app-slider></app-slider>
<!-- </div> -->
  <!-- <hr style="width: 50%; margin: 0 auto; border: 1px solid orange;"> -->
<!-- <br> -->
<!-- <div #about><app-about></app-about></div> -->
<!-- <hr style="width: 50%; margin: 0 auto; border: 1px solid orange;"> -->
<!-- <br> -->
<!-- <div #projects><app-projects></app-projects></div> -->
<!-- <hr style="width: 50%; margin: 0 auto; border: 1px solid orange;"> -->
<!-- <br> -->
<!-- <div #equipment><app-equipments></app-equipments></div> -->
<!-- <div #contact><app-contact></app-contact></div> -->
<!-- <app-footer></app-footer> -->
<!-- </div> -->
