
<div class="container">
  <div class="h1" style="font-weight: bolder;">تعرف علينا أكثر</div>
  <br>
  <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء
    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء</p>
  <br>
  <div class="description-about"></div>
  <div class="scroll-container">
    <div class="item" *ngFor="let item of constructionItems">
      <div class="row">
        <div class="text">
          <div class="name h2">{{ item.title }}</div>
          <div class="description">{{ item.description }}</div>
        </div>
        <div class="image">
          <img src="../../../../assets/Images/1.jpg" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
</div>
