<div class="containers">
  <br>
  <br>
<div class="header">تعرف علينا أكثر</div>
<div class="description">
  <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء
    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء</p>
</div>
</div>

<br>
<div class="container">
  <div class="card" *ngFor="let item of constructionItems let i=index">
    <div class="card-image">
      <img [src]="item.image" alt="Card Image" >
    </div>
    <div class="card-body">

      <div class="text">
        <div class="card-title">{{ item.name }}</div>
        <p class="card-text">{{ item.description }}</p>
      </div>

    </div>
  </div>
  </div>
<br>
  <div class="mt-8 py-5 flex justify-content items-center" style="text-align: center;">
    <div>
      <button class="btnPrev" (click)="previousPage()"
      [class.disabled]="pageNumber === 1">
      <img src="../../../../assets/Images/forward-solid.svg" width="100%" alt=""></button>

      <button class="btnNumber" (click)="setPage(index)" *ngFor="let index of buttonArray"
        [style.color]="index === pageNumber ? 'white' : '#ffbb00'"
        [style.background-color]="index === pageNumber ? '#ffbb00' : 'initial'">{{index}}</button>

      <button class="btnNext" (click)="nextPage()"
        [class.disabled]="pageNumber * pageSize >= totalCount">
        <img src="../../../../assets/Images/backward-solid.svg" width="100%" alt=""></button>
    </div>

  </div>
<br>
