.containers,.container {
  width: 90%;
  margin: 0 auto;
}
.containers .header{
  color: #FFBB00;
  font-size: 28px;
  font-family: 'Monadi';
  font-weight: bolder;
}
.containers .description{
  color: #FFBB00;
  font-weight: 500;
}

.container {
  display: flex;
  flex-wrap: wrap;
  color: #ffbb00;
}

.card {
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  border-top: #ffbb00 solid 1px;
}
.card-title {
  font-weight: bold;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-text {
  flex-grow: 1;
  font-weight: normal;
  color: white;
  margin: 0;
}



@media only screen and (max-width: 600px) {
  .containers .description{
    font-size: 14px;
  }
  .card {
    width: calc(48%);
     height: 300px;
    margin-left: 1.5%;
  }
  .card-image {
    height: 55%;
  }
  .card-body {
    height: 45%;
  }
  .card-title {
    font-size: 12px;
    margin: 0;
  }
  .card-text {
    flex-grow: 1;
    font-size: 12px;
    overflow: hidden;
    line-height: 17px;
    margin: 0;
    width: calc(100%);
  }
}

@media only screen and (min-width: 600px) {
  .card {
    width: calc(48%);
     height: 350px;
    margin-left: 1.5%;
  }
  .card-image {
    height: 55%;
  }
  .card-body {
    height: 45%;
  }

  .card-title {
    font-size: 16px;
    margin: 0;
  }
  .card-text {
    font-size: 14px;
    line-height: 18px;
  }

}

@media only screen and (min-width: 768px) {
  .card {
    width: calc(31.3333%);
     height: 400px;
    margin-left: 1.5%;
  }
  .text{
    max-height: calc(75%);
  }
}


@media only screen and (min-width: 992px) {
  .card {
     height: 450px;
    margin-left: 1.5%;
  }
  .text{
    max-height: calc(80%);
  }
  .card-title {
    font-size: 19px;
  }
  .card-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
     height: 500px;
    margin-left: 1.5%;
  }
  .card-image {
    height: 55%;
  }
  .card-body {
    height: 45%;
  }
  .text{
    max-height: calc(80%);
  }
  .card-title {
    font-size: 19px;
    margin-bottom: 3px;
  }
  .card-text {
    font-size: 16px;
    line-height: 20px;
  }
}

