.containers,.container {
  width: 90%;
  margin: 0 auto;
}
.containers .header{
  color: #FFBB00;
  font-size: 28px;
  font-family: 'Monadi';
  font-weight: bolder;
}
.containers .description{
  color: #FFBB00;
  font-weight: 500;
}

.container {
  display: flex;
  flex-wrap: wrap;
  color: #ffbb00;
}

.card {
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-image {
  height: 65%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000;
  position: relative;
  border-top: #ffbb00 solid 1px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.card-text {
  flex-grow: 1;
  width: calc(80%);
  color: white;
}

.card-links {
  position: absolute;
  bottom: 15%;
  left: 1%;
  justify-content: flex-end;
  width: calc(100%);
}

.card-links a {
  width: calc(32.3333%);
  height: 100%;
}
.card-links a img{
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .containers .description{
    font-size: 14px;
  }
  .card {
    width: calc(48%);
     height: 300px;
    margin-left: 1.5%;
  }
  .card-image {
    height: 55%;
    overflow: hidden;
  }
  .card-body {
    padding-right: 5px;
    height: 45%;
    display: block;
    flex-direction: column;
    background-color: #000;
    position: relative;
    border-top: #ffbb00 solid 1px;
  }
  .text{
    height: calc(70%);
    display: block;
    overflow: hidden;
  }
  .card-title {
    font-size: 12px;
    font-weight: bold;
    display: block;
    max-lines: 1;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .card-text {
    flex-grow: 1;
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    color: white;
    padding: 0;
    margin: 0;
    width: calc(100%);
  }
  .card-links {
    height: calc(20%);
    width: calc(100%);
    padding-left: 5px;
    justify-content: space-between;
  }
}



