<div class="containers">
<div class="header" style="font-weight: bolder; color: orange;">تعرف علينا أكثر</div>
<div class="description">
  <p style="color: white;">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء
    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء</p>
</div>
</div>


<div class="container">
  <div class="card" *ngFor="let item of constructionItems">
    <span class="card-img-top"><img  src="../../../../assets/Images/1.jpg" alt="Card image cap"></span>

    <span class="card-body">
      <div class="card-title">{{ item.name}}</div>
      <div class="card-footer">
        <div class="text"><p class="card-text">{{ item.description }}</p></div>
      </div>
    </span>
  </div>
</div>
