<div class="backImage">
<div class="container">
  <br>
  <br>
  <div class="header h2 text-center">نسعي لتقديم افضل خدمات الانشاءات والمقاولات</div>
  <br>
  <div class="text-center">
    <span class="h4 text-center contactBtn">اتصل بنا</span>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-8">
      <br>
      <br>
      <div class="h2" style="color: orange;">لؤلؤة الشروق</div>
      <p style="color: white;">
        هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم
        ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من
        " (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس
        بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
      </p>
      <div style="float: right;">
        <img src="../../assets/Images/face.png" width="50px" style="transform: scale(1.8);" height="50px" alt="">
        <img src="../../assets/Images/whats.png" width="50px" style="transform: scale(1.8);" height="50px" alt="">
      </div>
    </div>
    <div class="col-4 logo" style="text-align: end;">
      <img src="../../assets/Images/logoy.svg" width="50%" style="transform: scale(1.5);" alt="">
      <br>
      <br>
      <a href="tel:01147239318" style="text-decoration: none;" class="phone">
        <span class="phoneText">01147239318</span>
        <img src="../../assets/Images/tel.png" alt="">
      </a>
    </div>
  </div>
</div>
</div>
<hr>
