<div class="container">
  <div class="h2">{{category.name}}</div>
<br>
<div class="full-width-container">
  <form class="full-width">
      <mat-label>اختر المعدة</mat-label>
      <select name="index"  [(ngModel)]="index" (change)="changeSelection()" id="">
        <option  *ngFor="let food of equipments let i=index" [value]="i">
          {{food.name}}
        </option>
      </select>
  </form>
</div>
<br><br>
<br>
<table class="custom-table">
  <tbody>
    <tr>
      <td>الاسم</td>
      <td>{{equipments[index].name}}</td>
    </tr>
    <tr>
      <td>الماركة</td>
      <td>{{equipments[index].model}}</td>
    </tr>
    <tr>
      <td>الوصف</td>
      <td>{{equipments[index].description}}</td>
    </tr>
  </tbody>
</table>

  <div class="card" *ngIf="equipments[index].image">
      <div class="card-image">
      <img [src]="'https://api.luluatalshuruk.com/Images/'+equipments[index].image" alt="Card Image" >
    </div>
  </div>
  </div>


  <div class="containerLap">
    <div class="header" style="color: #080808;">
      {{category.name}}
    </div>
    <table >
      <thead class="headerTable">
        <th>#</th>
        <th>الاسم</th>
        <th>الماركة</th>
        <th>الوصف</th>
        <th>الصورة</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of equipments let i=index">
          <td class="count">{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.model}}</td>
          <td>{{item.description}}</td>
          <td>
            <div style=" width: 100px; height: 100px;">
              <img [src]="'https://api.luluatalshuruk.com/Images/'+item.image" alt="" width="100%" height="100%">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
