<div class="container">
  <div class="h2">منشار</div>
<br>
<div class="full-width-container">
  <form class="full-width">
      <mat-label>اختر المعدة</mat-label>
      <select name="index"  [(ngModel)]="index" (change)="changeSelection()" id="">
        <option  *ngFor="let food of foods let i=index" [value]="i">
          {{food.name}}
        </option>
      </select>
  </form>
</div>
<br><br>
<br>
<table class="custom-table">
  <tbody>
    <tr>
      <td>الاسم</td>
      <td>{{equipment.name}}</td>
    </tr>
    <tr>
      <td>النوع</td>
      <td>{{equipment.type}}</td>
    </tr>
    <tr>
      <td>الماركة</td>
      <td>{{equipment.model}}</td>
    </tr>
    <tr>
      <td>الوصف</td>
      <td>{{equipment.descripion}}</td>
    </tr>
  </tbody>
</table>

  <div class="card" *ngIf="equipment.image">
      <div class="card-image">
      <img [src]="equipment.image" alt="Card Image" >
    </div>
  </div>
  </div>


  <div class="containerLap">
    <div class="header" style="color: white;">
      منشار
    </div>
    <table style="color: white;">
      <thead class="headerTable">
        <th>#</th>
        <th>الاسم</th>
        <th>النوع</th>
        <th>الماركة</th>
        <th>الوصف</th>
        <th>الصورة</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of foods let i=index">
          <td class="count">{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.type}}</td>
          <td>{{item.model}}</td>
          <td>{{item.descripion}}</td>
          <td>
            <div style=" width: 100px; height: 100px;">
              <img [src]="item.image" alt="" width="100%" height="100%">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
