<div class="backImage">
<div class="container">
  <br>
  <br>
  <div class="header">نسعي لتقديم افضل خدمات الانشاءات والمقاولات</div>
  <br>
  <div class="contactBtn">
    <a href="tel:01147239318" style="text-decoration: none;">
      <span class="">اتصل بنا</span>
    </a>
  </div>
  <br>
  <br>
    <div style="text-align: center;">
      <img src="../../../../assets/Images/Nlogoy.png" width="50%"alt="">
      <br>
      <br>
  </div>
<div class="links" dir="ltr">
  <div> <a href="" style="font-size: 18px;"><i class="fa fa-phone"></i></a></div>
  <div> <a href=""><i class="fa fa-phone"></i></a></div>
  <div> <a href=""><i class="fa fa-phone"></i></a></div>
  <div dir="rtl"> <a href=""><i class="fa fa-phone"></i></a>
    <a href=""><i class="fa fa-phone"></i></a>
  </div>
  <div> <a href=""><i class="fa fa-location"></i></a></div>
</div>
</div>

<br>
<br>
</div>
<hr style="border: solid 1px #ffbb00;">
