<div class="backImage">
<div class="container">
  <br>
  <br>
  <h1 class="header">نسعي لتقديم افضل خدمات الانشاءات والمقاولات</h1>
  <br>
  <div class="contactBtn">
    <a href="tel:01147239318" style="text-decoration: none;">
      <span class="">اتصل بنا</span>
    </a>
  </div>
  <br>
  <br>



  <div class="card1">
    <div class="card-body" style="position: relative;">
      <div style="position: absolute; bottom: 50%;">
        <div> <a href="tel:+966596610016" target="_blank"><i class="fa fa-phone"></i>  596610016 966+</a></div>
        <div> <a href="tel:+966535999042" target="_blank"><i class="fa fa-phone"></i>  535999042 966+</a></div>
      <div> <a href="mailto:luluatalshuruq@gmail.com" style="font-size: 14px;" target="_blank"><i class="fa fa-envelope"></i>luluatalshuruq</a></div>
      </div>
    </div>
  </div>

  <div class="card2">
    <img src="../../../../assets/Images/Nlogoy.png" width="100%" height="100%" alt="">
  </div>

  <div class="social">
    <a href="https://www.facebook.com/profile.php?id=100095079135829&mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i>فيسبوك</a>
    <a href="https://wa.me/+966596610016" target="_blank"><i class="fa fa-whatsapp"></i>واتساب</a>
 </div>
 <div class="location"> <a href="https://goo.gl/maps/Xs7erREdci5hFSyS8" target="_blank"><i class="fa fa-map-marker"></i>الجبيل - شارع الجبل - أمام شركة همبل</a></div>
</div>
<br>
<br>
</div>



<hr style="border: solid 1px #ffbb00;">
