.backImage{
  background-image: url('../../../../assets/Images/cover1.png');
}
.container {
  color: #ffbb00;
  width: 90%;
  margin: 0 auto;
}
.header {
  text-align: center;
  color: orange;
  font-size: 24px;
  font-weight: bold;
}
.contactBtn{
  text-align: center;
}
.contactBtn span{
  color: white;
  padding: 10px 20px;
  border: solid 2px #ffbb00;
  font-size: 24px;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.phoneText{
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  .col-8 {
    flex: 0 0 99.66%;
    max-width: 66.66%;
  }

  .col-4 {
    flex: 0 0 99.33%;
    max-width: 99.33%;
    text-align: center;
  }

}

@media only screen and (min-width: 600px) {
  .col-8 {
    flex: 0 0 99.66%;
    max-width: 66.66%;
  }

  .col-4 {
    flex: 0 0 99.33%;
    max-width: 99.33%;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }

  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: end;
  }
}

@media only screen and (min-width: 992px) {
  .col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }

  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: end;
  }
}

@media only screen and (min-width: 1200px) {
  .col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }

  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: end;
  }
}
