.backImage{
  background-image: url('../../../../assets/Images/cover1.png');

}
.container {
  color: #ffbb00;
  width: 90%;
  margin: 0 auto;
}
.header {
  text-align: center;
  color: orange;
  font-size: 24px;
  font-weight: bold;
}
.contactBtn{
  text-align: center;
}
.contactBtn span{
  color: white;
  padding: 10px 20px;
  border: solid 2px #ffbb00;
  font-size: 24px;
  font-weight: bold;
}

.phoneText{
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.links a{
color: white;
text-decoration: none;
font-size: 25px;
}
.links a .fa-phone{
  color: #ffbb00;
  font-size: 30px;
  padding-right: 10px;
  }
  .fa-envelope{
    padding-right: 10px;
  }
.fa-facebook{
  font-size: 30px;
  margin-left: 15px;
}
.fa-whatsapp{
  font-size: 30px;
  margin:0 15px;
}
.fa-map-marker{
  font-size: 35px;
  padding-right: 10px;
}
@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
