<div class="backImage">
<div class="container">
  <br>
  <br>
  <div class="header">نسعي لتقديم افضل خدمات الانشاءات والمقاولات</div>
  <br>
  <div class="contactBtn">
    <a href="tel:01147239318" style="text-decoration: none;">
      <span class="">اتصل بنا</span>
    </a>
  </div>
  <br>
  <br>
    <div style="text-align: center;">
      <img src="../../../../assets/Images/Nlogoy.png" width="50%"alt="">
      <br>
      <br>
  </div>
<div class="links" dir="ltr">
  <div> <a href="tel:+966596610016" target="_blank"><i class="fa fa-phone"></i> +966 596610016</a></div>
  <div> <a href="tel:+966596610016" target="_blank"><i class="fa fa-phone"></i> +966 596610016</a></div>
  <div> <a href="mailto:luluatalshuruq@gmail.com" target="_blank"><i class="fa fa-envelope"></i>luluatalshuruq@gmail.com</a></div>
  <div dir="rtl">
     <a href="https://www.facebook.com/profile.php?id=100095079135829&mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i>فيسبوك</a>
    <a href="https://wa.me/+966596610016" target="_blank"><i class="fa fa-whatsapp"></i>واتساب</a>
  </div>
  <div> <a href="" target="_blank"><i class="fa fa-map-marker"></i>السعودية</a></div>
</div>
</div>

<br>
<br>
<span style="margin: 50px;">
  <i class="fa fa-chevron-up" style="font-size: 30px; padding: 15px;
   border: #ffbb00 solid 2px;
   cursor: pointer;
   color: #ffbb00; border-radius: 50%;"
   (click)="scrollToTop"
   ></i>
</span>
</div>

<hr style="border: solid 1px #ffbb00;">
