
.navbar {
  background-color: #343a40;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.logo {
  transform: scale(2.5);
  width: 60px;
  height: 48px;
  margin-right: 10px;
}

.brandName{
  margin-right: 5px;
  width: 100%;
  height: 20px;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Mobile menu styles */
.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 6px;
}


@media only screen and (max-width: 600px) {
  .logo {
    transform: scale(1.6);
    width: 50px;
    height: 30px;
    margin-right: 8px;
  }
  .navbar-menu a {
    font-size: .9rem;
  }

  }

  @media only screen and (min-width: 600px) {
    .navbar-toggler{
      display: none;
    }
    .navLab{
      display: flex;
    }
    .navbar-menu a {
      font-size: .95rem;
    }
    .brandName{
      margin-right: 35px;
      transform: scale(1.3);
    }
    .logo {
      transform: scale(2);
      width: 52px;
      height: 32px;
      margin-right: 8px;
    }
  }

  @media only screen and (min-width: 768px) {
    .navbar-toggler{
      display: none;
    }
    .navLab{
      display: flex;
    }
    .navbar-menu a {
      font-size: 1rem;

        font-family: 'Cairo';
        font-weight: bolder;

    }
    .brandName{
      margin-right: 40px;
      transform: scale(1.4);
    }
    .logo {
      transform: scale(2.2);
      width: 54px;
      height: 34px;
      margin-right: 8px;
    }
  }

  @media only screen and (min-width: 992px) {
    .navbar-toggler{
      display: none;
    }
    .navLab{
      display: flex;
    }
    .navbar-menu a {
      font-size: 1.05rem;
}
    .brandName{
      margin-right: 45px;
      transform: scale(1.6);
    }
    .logo {
      transform: scale(2.3);
      width: 58px;
      height: 38px;
      margin-right: 8px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .navbar-toggler{
      display: none;
    }
    .navLab{
      display: flex;
    }
    .navbar-menu a {
      font-size: 1.2rem;
    }
    .brandName{
      margin-right: 70px;
      transform: scale(1.8);
    }
    .logo {
      transform: scale(2.5);
      width: 60px;
      height: 40px;
      margin-right: 10px;
    }
  }
