
<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/Images/logoy.svg" alt="" width="60" height="48" class="logo">
<img src="../assets/Images/brandName.png" alt="" class="brandName">    </a>

    <div class="navbar-menu navLab">
        <a (click)="scrollTo('about')">عنا</a>
      <a (click)="scrollTo('works')">اعمالنا</a>
      <a (click)="scrollTo('equipment')">المعدات</a>
      <a (click)="scrollTo('contact')">تواصل معنا</a>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
