<!-- <nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/Images/logoy.svg" alt="" width="60" height="48" class="d-inline-block align-text-top">
      <span>لؤلؤة الشرق</span>
    </a>

    <div class="navBarSearch1 toggile-NavLab">
      <a onclick="scrollTo('contact')">تواصل معنا</a>
      <a onclick="scrollTo('equipment')">المعدات</a>
      <a onclick="scrollTo('works')">اعمالنا</a>
      <a onclick="scrollTo('about')">عنا</a>
    </div>

    <button class="navbar-toggler" type="button" onclick="toggileMob()" aria-label="Toggle navigation">
      <div class="navbar-toggler-icon"></div>
      <div class="toggile-NavMob" id="showMob">
        <a onclick="scrollTo('contact')">تواصل معنا</a>
        <a onclick="scrollTo('equipment')">المعدات</a>
        <a onclick="scrollTo('works')">اعمالنا</a>
        <a onclick="scrollTo('about')">عنا</a>
      </div>
    </button>
  </div>
</nav> -->

<!-- <nav class="c-nav" style="background-color: aquamarine !important;">
  <div class="container">
    <div class="brand" style="float: right; display: flex; overflow: hidden;">
      <a href="" class="brand-image">
        <img src="../assets/Images/logoy.svg" alt="">
      </a>
      <a href="" class="brand-text">
        <span>لؤلؤة الشروق</span>
      </a>
    </div>

    <div class="nav-item">
      <ul>
        <li>Osama</li>
        <li>Osama</li>
      </ul>
    </div>

  </div>
</nav> -->

<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/Images/logoy.svg" alt="" width="60" height="48" class="logo">
      <span class="brand-name">لؤلؤة الشرق</span>
    </a>

    <div class="navbar-menu navLab">
        <a (click)="scrollTo('about')">عنا</a>
      <a (click)="scrollTo('works')">اعمالنا</a>
      <a (click)="scrollTo('equipment')">المعدات</a>
      <a (click)="scrollTo('contact')">تواصل معنا</a>

    </div>



    <!-- <button class="navbar-toggler" (click)="toggleMenu()" style="position: relative; margin-left: 10px;">
      <img src="../assets/Images/menu.png" style="transform: scale(1.2);" height="20px" width="20px" alt="">
      <span class="active" *ngIf="showMenu">
        <a (click)="scrollTo('contact')">تواصل معنا</a>
        <a (click)="scrollTo('equipment')">المعدات</a>
        <a (click)="scrollTo('works')">اعمالنا</a>
        <a (click)="scrollTo('about')">عنا</a>
      </span>
    </button> -->
  </div>
</nav>


<!-- <app-card></app-card> -->


<router-outlet></router-outlet>
