<nav class="navbar" [ngClass]="{ 'responsive': isResponsiveMenuOpen }">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/Images/logoy.svg" alt="" width="60" height="48" class="d-inline-block align-text-top">
      <span>لؤلؤة الشرق</span>
    </a>

    <div class="menu-links">
      <a routerLink="/contact" (click)="toggleResponsiveMenu()">تواصل معنا</a>
      <a routerLink="/equipment" (click)="toggleResponsiveMenu()">المعدات</a>
      <a routerLink="/works" (click)="toggleResponsiveMenu()">اعمالنا</a>
      <a routerLink="/about" (click)="toggleResponsiveMenu()">عنا</a>
    </div>

    <button class="navbar-toggler" (click)="toggleResponsiveMenu()" aria-label="Toggle navigation">
      <span class="toggler-icon"></span>
    </button>
  </div>
</nav>
