/* .caption
{
  border-radius: 50px;
  bottom: 35%;
  font-size: 20px;
}
.carsol img{
  width: 100%; height: 600px !important;
}

.cap{
  width: 80%;
   margin:0 auto;
  height: 500px;
  position: absolute;
  bottom: 50px;
  right: 10%;
  z-index: 2000 !important;
}
.cap .image{
  width: 50%;
  height: calc(66.6666%);
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}
.cap .image img{
  width: 100%;
  height: 400px !important;
}
.cap .text{
  width: 70%;
  height: calc(33.3333%);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  overflow: hidden;
}
.cap .text p{
  padding: 10px 20px;
  color: #ffbb00;
  font-size: large;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
 */












/* Slider styles */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* max-width: 800px; */
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 100%;
  height: 500px; /* Adjust the height as per your requirements */
  background-size: cover;
  background-repeat: no-repeat;
}

/* Slider controls styles */
.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.prev-btn,
.next-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.prev-btn {
  margin-right: 10px;
}

/* Hide the prev button if the first slide is displayed */
.slider-container:first-child .prev-btn {
  display: inline;
}

/* Hide the next button if the last slide is displayed */
.slider-container:last-child .next-btn {
  display: inline;
}
