<br>

<div class="container">
  <div class="h2">المعدات</div>
<br>
  <div class="card" *ngFor="let item of category let i=index">
  <a style="text-decoration: none; color: #ffbb00;" [href]="'equipmentDetails/'+item.id">
      <div class="card-image">
      <img [src]="'https://localhost:5001/Images/'+item.image" alt="Card Image" >
    </div>
    <div class="card-body">
      <div class="text">
        <div class="card-title">{{ item.name }}</div>
      </div>
    </div>
  </a>
  </div>
  </div>
<br>
  <div class="mt-8 py-5 flex justify-content items-center" style="text-align: center;">
    <div>
      <button class="btnPrev" (click)="previousPage()"
      [class.disabled]="pageNumber === 1">
      <img src="../../../../assets/Images/forward-solid.svg" width="100%" alt=""></button>

      <button class="btnNumber" (click)="setPage(index)" *ngFor="let index of buttonArray"
        [style.color]="index === pageNumber ? 'white' : '#ffbb00'"
        [style.background-color]="index === pageNumber ? '#ffbb00' : 'initial'">{{index}}</button>

      <button class="btnNext" (click)="nextPage()"
        [class.disabled]="pageNumber * pageSize >= totalCount">
        <img src="../../../../assets/Images/backward-solid.svg" width="100%" alt=""></button>
    </div>

  </div>
<br>
