<br>
<div class="h2">المعدات</div>
<br>
<div class="container">
<div class="card" *ngFor="let item of projects">
  <img class="card-img-top" (mouseleave)="resetImage(0)" (mouseover)="changeImage(0)" src="../../../../assets/Images/1.jpg" alt="Card image cap">

  <div class="card-body">
    <div class="card-title">{{ item.title }}</div>
  </div>
</div>
</div>
<br>
  <div class="mt-8 py-5 flex justify-content items-center" style="text-align: center;">
    <div>
      <button class="btnPrev" (click)="previousPage()"
      [class.disabled]="pageNumber === 1">
      <img src="../../../../assets/Images/forward-solid.svg" width="100%" alt=""></button>

      <button class="btnNumber" (click)="setPage(index)" *ngFor="let index of buttonArray"
        [style.color]="index === pageNumber ? 'white' : '#ffbb00'"
        [style.background-color]="index === pageNumber ? '#ffbb00' : 'initial'">{{index}}</button>

      <button class="btnNext" (click)="nextPage()"
        [class.disabled]="pageNumber * pageSize >= totalCount">
        <img src="../../../../assets/Images/backward-solid.svg" width="100%" alt=""></button>
    </div>

  </div>
<br>
